Repository SimplicityGuy/apollonia: changes, and which Codecov flags are due for each by the changed paths.
All: unit, api, analyzer, ingestor, populator, integration, docker, e2e, frontend, integration-unit

Path conditions:
  unit: (any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/) or (any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/tests/**, **/test_*.py, **/__pycache__/**, **/migrations/**, **/*.md, **/docs/**, **/benchmarks/**)
  api: any of: api/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/
  analyzer: any of: analyzer/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/
  ingestor: any of: ingestor/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/
  populator: any of: populator/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/
  integration: (any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/) or (any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/tests/**, **/test_*.py, **/__pycache__/**, **/migrations/**, **/*.md, **/docs/**, **/benchmarks/**)
  docker: any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/
  e2e: (any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/) or (any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/tests/**, **/test_*.py, **/__pycache__/**, **/migrations/**, **/*.md, **/docs/**, **/benchmarks/**)
  frontend: (any of: frontend/, but not: **/test_*.py, **/*_test.py, **/tests/, **/__tests__/, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__init__.py, **/conftest.py, setup.py, **/*.config.js, **/*.config.ts, **/*.md, docs/, **/migrations/, **/*.generated.ts, **/generated/) or (any of: frontend/, but not: **/tests/**, **/test_*.py, **/__pycache__/**, **/migrations/**, **/*.md, **/docs/**, **/benchmarks/**)
  integration-unit: any of: apollonia/, ingestor/, populator/, analyzer/, api/, but not: **/tests/**, **/test_*.py, **/__pycache__/**, **/migrations/**, **/*.md, **/docs/**, **/benchmarks/**

chore: organize main pyproject.toml with sorted dependencies
  pyproject.toml
Due: none

chore: standardize ingestor and populator pyproject.toml files
  ingestor/pyproject.toml
  populator/pyproject.toml
Due: unit, ingestor, populator, integration, docker, e2e, integration-unit

chore: standardize remaining service pyproject.toml files
  analyzer/pyproject.toml
  api/pyproject.toml
  database/pyproject.toml
  shared/pyproject.toml
Due: unit, api, analyzer, integration, docker, e2e, integration-unit

chore: reorganize justfile with clear command grouping
  justfile
Due: none

fix: resolve mypy errors in GraphQL subscription return types
  api/graphql/schema.py
Due: unit, api, integration, docker, e2e, integration-unit

fix: update just todo command to handle TypeScript React files
  justfile
Due: none

fix: resolve API test command issues and Docker build failures
  .github/workflows/ci.yml
  api/Dockerfile
  api/README.md
  justfile
Due: unit, api, integration, docker, e2e, integration-unit

fix: revert test-api command and add missing analyzer README.md
  analyzer/Dockerfile
  analyzer/README.md
  justfile
Due: unit, analyzer, integration, docker, e2e, integration-unit

chore: correcting test-api.
  justfile
Due: none

fix: resolve Docker build failures for apollonia-shared package
  .dockerignore
  api/Dockerfile
  shared/README.md
Due: unit, api, integration, docker, e2e, integration-unit

fix: resolve all API test failures and improve test coverage
  api/endpoints/catalog.py
  api/endpoints/media.py
  api/graphql/schema.py
  api/graphql/types.py
  api/schemas/media.py
  shared/models.py
  tests/api/test_api.py
  tests/api/test_endpoints.py
  tests/api/test_graphql.py
  tests/e2e/test_full_flow.py
  tests/ingestor/test_prospector.py
Due: unit, api, integration, docker, e2e, integration-unit

docs: comprehensive documentation update and standardization
  CLAUDE.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  docs/api/api-reference.md
Due: none

chore: update dependencies (patch)
  frontend/package-lock.json
  pr-body.md
  uv.lock
Due: frontend
