Repository SimplicityGuy/apollonia: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration-unit, integration, frontend, e2e

codecov.yml:

# Codecov configuration for Apollonia
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  # Coverage precision (decimal places)
  precision: 2
  round: down

  # Coverage status checks
  status:
    project:
      default:
        # Overall project coverage
        target: 80%
        threshold: 2%
        paths:
          - "apollonia/"
          - "ingestor/"
          - "populator/"
          - "analyzer/"
          - "api/"

      frontend:
        target: 70%
        threshold: 2%
        paths:
          - "frontend/"
        flags:
          - frontend

      backend:
        target: 80%
        threshold: 2%
        paths:
          - "apollonia/"
          - "ingestor/"
          - "populator/"
          - "analyzer/"
          - "api/"
        flags:
          - unit
          - integration-unit
          - integration

    patch:
      default:
        # Coverage for new code in PR
        target: 85%
        threshold: 5%

# Define coverage flags for different test types
flags:
  unit:
    paths:
      - "apollonia/"
      - "ingestor/"
      - "populator/"
      - "analyzer/"
      - "api/"
    carryforward: true

  integration-unit:
    paths:
      - "apollonia/"
      - "ingestor/"
      - "populator/"
      - "analyzer/"
      - "api/"
    carryforward: true

  integration:
    paths:
      - "apollonia/"
      - "ingestor/"
      - "populator/"
      - "analyzer/"
      - "api/"
    carryforward: true

  frontend:
    paths:
      - "frontend/"
    carryforward: true

  e2e:
    paths:
      - "apollonia/"
      - "ingestor/"
      - "populator/"
      - "analyzer/"
      - "api/"
    carryforward: true

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/**"
  - "**/test_*.py"
  - "**/__pycache__/**"
  - "**/migrations/**"
  - "**/*.md"
  - "**/docs/**"
  - "**/benchmarks/**"

fix: resolve CI/CD coverage and workflow issues
  .github/workflows/build.yml
  .github/workflows/test.yml
  codecov.yml
  justfile
Due: none

fix: add workflow troubleshooting and cancellation tools
  .github/TROUBLESHOOTING.md
  .github/scripts/cancel-old-workflows.sh
  .github/workflows/ci.yml
Due: none

chore: update workflows.
  .github/TROUBLESHOOTING.md
  .github/scripts/cancel-old-workflows.sh
  .github/workflows/ci.yml
Due: none

fix: resolve test failures and workflow issues
  .github/workflows/test.yml
  pytest.ini
  tests/e2e/test_e2e.py
  tests/e2e/test_frontend_e2e.py
Due: none

fix: resolve frontend test CI and workflow execution issues
  .github/workflows/ci.yml
  .github/workflows/test.yml
  justfile
Due: none

refactor: consolidate GitHub workflows and implement DRY principles
  .github/actions/publish-test-results/action.yml
  .github/actions/security-scan/action.yml
  .github/actions/upload-coverage/action.yml
  .github/actions/wait-for-services/action.yml
  .github/workflows/benchmarks.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
  README.md
  docs/development/github-workflows.md
Due: none

fix: resolve CI workflow failures
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

fix: resolve GitHub workflow failures and add Docker integration test coverage
  .github/workflows/docker.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
  frontend/Dockerfile
  ingestor/Dockerfile
Due: unit, integration-unit, integration, frontend, e2e

chore: remove always().
  .github/workflows/ci.yml
Due: none

fix: simplify GitHub workflows with maximum parallelization
  .github/workflows/ci.yml
Due: none

fix: resolve shellcheck issues in GitHub workflows
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/docker.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

fix: resolve CI/CD pipeline issues with frontend tests and Docker builds
  frontend/Dockerfile
  frontend/package.json
  frontend/vite.config.ts
  justfile
Due: frontend

chore: remove duplicative security check.
  .github/workflows/ci.yml
Due: none

chore: updating order of ci actions.
  .github/actions/security-scan/action.yml
  .github/workflows/ci.yml
  justfile
Due: none

fix: resolve Docker integration test timing and authentication issues
  .github/actions/wait-for-services/action.yml
  .github/workflows/ci.yml
  analyzer/analyzer.py
  analyzer/analyzer_enhanced.py
  docker-compose.yml
  ingestor/media_ingestor.py
  pytest.ini
  tests/conftest.py
  tests/e2e/test_docker_e2e.py
Due: unit, integration-unit, integration, e2e

feat(benchmarks): add performance benchmarking infrastructure
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/conftest.py
  benchmarks/test_hash_performance.py
  benchmarks/test_message_processing.py
  benchmarks/test_neo4j_operations.py
  pyproject.toml
  uv.lock
Due: none

chore(justfile): improve benchmark test execution
  justfile
Due: none

chore(gitignore): add benchmark results to ignore list
  .gitignore
Due: none

feat(ci): add enhanced health check script with consecutive failure tracking
  .github/scripts/README.md
  .github/scripts/health-check.sh
Due: none

fix(ci): update workflows to use enhanced health check script
  .github/workflows/ci.yml
Due: none

test(e2e): add comprehensive health check tests
  tests/e2e/test_health_checks.py
Due: none

fix: resolve mypy type checking errors and benchmark compatibility
  .github/workflows/benchmarks.yml
  benchmarks/conftest.py
  benchmarks/test_hash_performance.py
  benchmarks/test_message_processing.py
  benchmarks/test_neo4j_operations.py
  frontend/src/components/ui/Navbar.test.tsx
  frontend/src/components/ui/Navbar.tsx
  frontend/src/components/ui/Sidebar.test.tsx
  frontend/src/components/ui/Sidebar.tsx
  frontend/src/pages/CatalogDetailPage.tsx
  frontend/src/pages/CatalogsPage.tsx
  frontend/src/pages/HomePage.test.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/LoginPage.test.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MediaDetailPage.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/SearchPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/UploadPage.tsx
  frontend/src/styles/globals.css
  frontend/src/test/matchers.ts
  frontend/src/test/mocks.ts
  frontend/src/test/performance.ts
  frontend/src/test/utils.tsx
  frontend/src/types/catalog.ts
  frontend/src/types/media.ts
  frontend/src/utils/format.ts
  tests/e2e/test_health_checks.py
Due: frontend

fix: resolve frontend health check failures in Docker integration tests
  docker-compose.yml
  frontend/nginx.conf
  pyproject.toml
  uv.lock
Due: frontend

refactor: consolidate pytest configuration and remove redundant marker definitions
  benchmarks/conftest.py
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/e2e/conftest.py
  uv.lock
Due: frontend

fix: resolve Docker E2E test permission errors
  ingestor/Dockerfile
  tests/e2e/test_docker_e2e.py
Due: unit, integration-unit, integration, e2e

chore: update pre-commit.
  .pre-commit-config.yaml
Due: none

fix: resolve Docker E2E test failures by creating files inside containers
  tests/e2e/test_docker_e2e.py
Due: none

fix: resolve Docker E2E test permission failures and populator test warnings
  docker-compose.yml
  ingestor/Dockerfile
  ingestor/entrypoint.sh
  tests/populator/test_populator.py
Due: unit, integration-unit, integration, e2e

fix: resolve E2E test container name conflicts in CI
  .github/workflows/ci.yml
  docker-compose.yml
  tests/e2e/test_docker_e2e.py
  tests/e2e/test_e2e.py
Due: none

fix: update Docker container names to match Compose v2 format
  tests/e2e/test_docker_e2e.py
Due: none

fix: resolve E2E test container name conflicts in CI
  tests/e2e/test_e2e.py
Due: none

fix: update Docker container names to match Compose v2 format
  tests/e2e/test_e2e.py
Due: none

fix: add version and timestamp to health endpoint response
  api/endpoints/health.py
Due: unit, integration-unit, integration, e2e

fix: improve test coverage collection for all services
  .codecov.yml
  .github/actions/upload-coverage/action.yml
  .github/workflows/ci.yml
  pyproject.toml
  tests/api/__init__.py
  tests/api/test_api.py
  tests/api/test_endpoints.py
  tests/api/test_graphql.py
  tests/unit/test_api.py
  uv.lock
Due: none

chore: only build docker images if security scan is also successful.
  .github/workflows/ci.yml
Due: none

fix: resolve mypy type checking errors in API test files
  tests/api/test_api.py
  tests/api/test_endpoints.py
  tests/api/test_graphql.py
  tests/unit/test_api.py
Due: none

fix: resolve API test environment configuration issues
  api/database.py
  api/endpoints/auth.py
  api/endpoints/catalog.py
  api/endpoints/health.py
  api/endpoints/media.py
  api/graphql/resolvers.py
  api/graphql/schema.py
  api/graphql/types.py
  api/main.py
  api/utils/cache.py
  tests/api/conftest.py
  tests/api/test_api.py
  tests/api/test_endpoints.py
  tests/api/test_graphql.py
  tests/api/test_utils.py
Due: unit, integration-unit, integration, e2e

fix: resolve mypy type checking errors with proper typing
  api/endpoints/catalog.py
  api/endpoints/media.py
  api/endpoints/search.py
  api/graphql/resolvers.py
  api/graphql/schema.py
  api/main.py
  shared/models.py
  tests/api/conftest.py
  tests/api/test_utils.py
Due: unit, integration-unit, integration, e2e

fix: resolve strawberry GraphQL schema error and improve CI
  .github/workflows/ci.yml
  api/graphql/schema.py
  justfile
  pyproject.toml
  uv.lock
Due: unit, integration-unit, integration, e2e
